<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="{$basePath}/css/style.css">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link rel ="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset} KrisKRIZ</title>
</head>

<body>
	<!-- Navbar -->
	 <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark py-3 fixed-top">
		 <div class="container-fluid">
			 <a n:href="Landingpage:welcome" class="navbar-brand">KrisKriz</a>

			 <button
				 class="navbar-toggler"
				 type="button"
				 data-bs-toggle="collapse"
				 data-bs-target="#navmenu">
				 <span class="navbar-toggler-icon"></span>
			 </button>

			 <div class="collapse navbar-collapse" id="navmenu">
				 <ul class="navbar-nav ms-auto">


		 <li class="nav-item"><a href = "{link Landingpage:welcome}" class ="nav-link" >Něco</a></li>


					 <li class="nav-item">
						 <a href="{link Landingpage:about#uvod}" class="nav-link">Návod</a>
					 </li>
					 <li class="nav-item">
						 <a href= "{link Homepage:terms}" class="nav-link">Podmínky</a>
					 </li>
				 </ul>
			 </div>
		 </div>
	 </nav>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
