{block content}

  <div class="menu">
    <a href="\test\eta" class="btn btn-secondary">ETA</a>
    <a href="\test\swot" class="btn btn-primary">SWOT</a>
    <a href="\test\umra" class="btn btn-primary">UMRA</a>
  </div>



  <button id="button1" class="MetroBtn" onClick="myFunc(this.id);">Btn1</button>
  <button id="button2" class="MetroBtn" onClick="myFunc(this.id);">Btn2</button>
  <button id="button3" class="MetroBtn" onClick="myFunc(this.id);">Btn3</button>
  <button id="button4" class="MetroBtn" onClick="myFunc(this.id);">Btn4</button>

  <script type="text/javascript">
  function myFunc(id){
    alert(id);
    }     

  </script>

<style>

.menu  {     
  display: flex;
  justify-content: center;
  text-align: center;
}

</style>
{/block}
