{block content}

  <div class="menu">
    <a href="\test\eta" class="btn btn-secondary">ETA</a>
    <a href="\test\swot" class="btn btn-primary">SWOT</a>
    <a href="\test\umra" class="btn btn-primary">UMRA</a>
  </div>



  <html>
     <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
     </head>
     <body>
        <form method="POST" id="form">
        <div id="divSelections"></div>
          <script type="text/javascript">
            function textBox(selections){
                selections = selections*1; // Convert to int
                if( selections !== selections ) throw 'Invalid argument'; // Check NaN
                var container = document.getElementById('divSelections'); //Cache container.

                for(var i = 0; i <= selections; i++){
                    document.write("asdf");
                    var tb = document.createElement('input');
                    tb.type = 'text';
                    tb.id = 'textBox_' + i; // Set id based on "i" value
                    tb.form = form;
                    document.write("asdf");
                    container.appendChild(tb);

                }
            }
            textBox(4) ;

          </script>
        </form>
     </body>
  </html>




<style>

.menu  {     
  display: flex;
  justify-content: center;
  text-align: center;
}

</style>
{/block}
