{block content}

  <div class="menu">
    <a href="\test\eta" class="btn btn-primary">ETA</a>
    <a href="\test\swot" class="btn btn-primary">SWOT</a>
    <a href="\test\umra" class="btn btn-primary">UMRA</a>
  </div>


<style>

.menu  {     
  display: flex;
  justify-content: center;
  text-align: center;
}

</style>
{/block}
